h1{
  color: red;
  background-image: url("https://dncache-mauganscorp.netdna-ssl.com/thumbseg/413/413522-bigthumbnail.jpg");
  margin-top:100px;
  margin-bottom:100px;
  }
body{
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/f0/c8/c4/f0c8c496bfc81b9cc7d78cbf659d83f5.jpg");
}
